@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
/* header */
ul li {
  display: inline-block;
  color: #222;
}

/*main */
h1 {
  color: green;
}
