@charset "utf-8";

* {
  font-family: Pretendard;
}

body {
  /*background: #ffebca;*/
}

/* 룰렛 회전 속도 */
canvas {
  transition: 2s;
}

button {
  background: #f6b270;
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

/* 버튼이 눌렸을 때 */
button:active {
  background: #2e1c08;
  color: #ffebca;
}

div.roulette_background {
  position: relative;
  width: 350px;
  /* 요소의 내용이 div 요소의 경계를 벗어날 경우 숨김 */
  /* overflow: hidden; */
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

/*img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}*/

div.roulette_div {
  position: absolute;
  top: 50px;
  left: 400px;
  z-index: 1;
}

/*룰렛 바늘*/
div.roulette_div::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 50px;
  border-radius: 5px; /*모서리를 둥글게 */
  background: #2e1c08;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
