<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인-0cal</title>
    <link rel="stylesheet" href="../../css/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="login"><b>로그인</b></div>

      <div class="middle">
        <input type="text" class="loginid" placeholder="아이디를 입력해주세요." />
      </div>

      <div class="middle">
        <input type="text" class="loginpw" placeholder="비밀번호를 입력해주세요." />
      </div>

      <button type="submit" class="loginsuc"><span class="logintext">로그인</span></button>
    </div>
  </body>
</html>
