<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입-0cal</title>
    <link rel="stylesheet" href="../../css/signUp.css">
</head>
<body>
    <div class="wrapper">
        <div class="signup">회원가입</div>
        <hr class="hrline"/>

        <div class="user">
            <div class="id">
                <div class="front" id="userid">아이디&nbsp<span class="star">*</span></div>
                <input type="text" class="middle" placeholder="아이디를 입력해주세요."></input>
                <button class="doubleCheck">중복확인</button>
            </div>

            <div class="nick">
                <div class="front" id="nickname">닉네임&nbsp<span class="star">*</span></div>
                <input type="text" class="middle" placeholder="닉네임을 입력해주세요."></input>
                <button class="doubleCheck"><span>중복확인</span></button>
            </div>

            <div class="pw">
                <div class="front" id="userpw">비밀번호&nbsp<span class="star">*</span></div>
                <input type="text" class="middle" placeholder="비밀번호를 입력해주세요."></input>
            </div>

            <div class="pwcheck">
                <div class="front" id="userpwcheck">비밀번호 확인&nbsp<span class="star">*</span></div>
                <input type="text" class="middle" placeholder="비밀번호를 한번 더 입력해주세요."></input>
            </div>

            <div class="name">
                <div class="front" id="username">이름<span class="star">*</span></div>
                <input type="text" class="middle" placeholder="이름을 입력해주세요."></input>
            </div>

            <div class="email">
                <div class="front" id="useremail">이메일&nbsp<span class="star">*</span></div>
                <input type="text" class="middle" placeholder="예: 0cal@delicious.com"></input>
                <button class="doubleCheck">중복확인</button>
            </div>

            <div class="phone">
                <div class="front" id="userphone">휴대폰<span class="star">*</span></div>
                <input type="text" class="middle" placeholder="010&nbsp-&nbsp 0000 &nbsp-&nbsp 0000"></input>
            </div>

            <div class="adress">
                <div class="front" id="useradress">주소<span class="star">*</span></div>
                <input type="text" class="middle" placeholder="주소 api 연결???"></input>
            </div>
            
            <div class="gender">
                <div class="front" id="usergender">성별</div>
                <div style="padding-right: 20px; display: flex; align-items: center;">
                    <input type="radio" class="middle" value="1" id="check1"></input>
                    <label for="check1">여성</label>
                </div>
                <div style="display: flex; align-items: center;">
                    <input type="radio" class="middle" value="2" id="check2"></input>
                    <label for="check2">남성</label>
                </div>
            </div>

            <div class="birth">
                <div class="front" id="ymd">생년월일</div>
                <form>
                    <p><input type="date" class="middle"></p>
                </form>
            </div>

            <hr class="bottom">

            <button type="submit" class="signupEnd"><b>가입하기</b></button>
            
        </div>
    </div>

</body>
</html>