<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의하기-0cal</title>
    <link rel="stylesheet" href="../../css/inquiry.css" />
  </head>

  <body>
    <div style="display: flex">
      <div class="" style="width: 100px">사이드tab</div>
      <div class="wrapper" style="margin-left: 10px">
        <div class="titleBox">
          <h2 class="title">문의하기</h2>
        </div>
        <div class="list">
          <div class="listTitle">제목</div>
          <div width="100" class="listWriter">작성자</div>
          <div width="100" class="listDate">작성일</div>
        </div>
        <div class="noData">게시글이 없습니다.</div>
        <div class="listBtnBox">
          <div class="pagingBtn">페이징 버튼 영역</div>

          <button class="qnaWriteBtn" type="button" width="120" height="44" radius="3">
            <span class="writeText">글쓰기</span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
