<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개인정보-0cal</title>
    <link rel="stylesheet" href="../../css/userInfoEdit.css" />
  </head>
  <body>

    <div class="wrapper1">
    <div style="display: flex">
      <div class="" style="width: 100px">사이드tab</div>
      <div class="wrapper" style="margin-left: 10px">
        <div class="titlebox">
          <h2 class="title">개인정보수정</h2>
          <div class="pwText">비밀번호 재확인</div>
          <div class="pwText2">회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시한번 확인해주세요.</div>
        </div>

        <div class="list">
            <div class="editInput">
            <div class="id">
            <div class="front" id="userid">아이디&nbsp</div>
            <input type="text" class="middle" placeholder="로그인 되어있는 아이디가 보여짐."></input>
            </div>

            <div class="pw">
            <div class="front" id="userpw">비밀번호&nbsp<span class="star">*</span></div>
            <input type="text" class="middle" placeholder="비밀번호를 입력해주세요."></input>
            </div>
            </div>
        </div>
        <button type="submit" class="editSuc"><span class="editText">확인</span></button>
      </div>
    </div>
</div>
</body>
</html>
