main.goods_main {
  display: flex;
  position: relative;
  width: 1050px;
  margin: 0 auto;
  padding: 30px 50px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

div.goods_thumbnail {
  width: 400px;
  height: 514px;
  background: url(https://drive.google.com/uc?id=1l9P6fv3lw0yHE4yYMQ4bWyE-tsWFWZE_),
    no-repeat 50% 50%;
  background-size: cover, contain;
  background-color: #f5f5f5;
  padding-top: 30px;
}

section.goods_desc_section {
  width: 500px;
  padding: 20px 20px;
}

div.goods_title {
  display: flex;
  flex-direction: column;
}
h1.goods_title_h1 {
  width: 500px;
  font-weight: 500;
  font-size: 24px;
  color: #333;
  line-height: 34px;
  letter-spacing: -0.5px;
  word-break: keep-all;
  margin-right: 20px;
}

h2.goods_pricegroup {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 19px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: -0.5px;
}

span.goods_dcper {
  padding-right: 9px;
  font-size: 28px;
  color: rgb(250, 98, 47);
}
span.goods_dcprice {
  padding-right: 4px;
  font-size: 28px;
  color: #333;
}
span.goods_pricewon {
  display: inline-block;
  position: relative;
  top: 3px;
  font-size: 18px;
  color: #333;
  vertical-align: top;
}

span.goods_price {
  display: inline-block;
  font-size: 16px;
  color: rgb(181, 181, 181);
  letter-spacing: -0.5px;
  padding-top: 9px;
  text-decoration: line-through;
  margin-right: 0px;
}
div.goods_descriptions_div {
  margin-top: 30px;
}

dl.goods_decription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  padding: 10px 0 10px;
  border-top: 1px solid #f4f4f4;
  font-size: 14px;
  letter-spacing: -0.5px;
}

dl.goods_decription_lastone {
  border-bottom: 1px solid #f4f4f4;
}

dt.goods_key_dt {
  width: 128px;
  height: 100%;
  color: #666;
  font-weight: 400;
  line-height: 19px;
}
dd.goods_value_dd {
  display: flex;
  flex: 1;
  flex-direction: column;
}

p.goods_value_p {
  color: #333;
  font-weight: 400;
  line-height: 19px;
  white-space: pre-line;
  word-break: break-all;
  overflow: hidden;
}

div.goods_buttons {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

button.wish_button {
  display: block;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
  width: 56px;
  height: 56px;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}

span.wish_button_span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

div.cart_button_div {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

button.goods_cart_button {
  font-weight: 500;
  display: block;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
  height: 56px;
  width: 100%;
  border-radius: 3px;
  color: #fff;
  background-color: orange;
  border: 0 none;
}

span.cart_button_span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

div.goods_choice {
  border-bottom: 1px solid rgb(244, 244, 244);
}

dl.goods_choice_dl {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  padding: 17px 0 18px;
  border-top: 1px solid #f4f4f4;
  font-size: 14px;
  letter-spacing: -0.5px;
}

dt.goods_choice_dt {
  width: 128px;
  height: 100%;
  color: #666;
  font-weight: 400;
  line-height: 19px;
}

dd.goods_choice_dd {
  display: flex;
  flex-direction: column;
}

div.goods_choice_divs {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 11px 10px 11px 15px;
  font-size: 12px;
  /* border-left: 1px solid rgb(244, 244, 244);
  border-top: 1px solid rgb(244, 244, 244);
  border-right: 1px solid rgb(244, 244, 244); */
  border: 1px solid rgb(244, 244, 244);
}

div.goods_choice_namediv {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
}

span.goods_choice_namediv_span {
  line-height: 16px;
  width: 320px;
  color: rgb(51, 51, 51);
  overflow-wrap: break-word;
}

div.goods_choice_countdiv {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 12px;
}

div.goods_choice_countdiv_countplus {
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(221, 223, 225);
  width: 88px;
  border-radius: 3px;
}

button.goods_minusbutton {
	display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;
}

div.goods_countnumber {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  text-align: center;
  width: 31px;
  height: 28px;
  line-height: 28px;
}

button.goods_plusbutton {
  display: inline-flex;
  width: 28px;
  height: 28px;
  border: none;
  font-size: 1px;
  color: transparent;
  background-size: cover;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K);
  vertical-align: top;
}

span.goods_choice_countdiv_price_span {
  font-weight: bold;
  font-size: 12px;
  color: rgb(51, 51, 51);
  padding-right: 5px;
}

div.goods_cartprice_upperdiv {
  padding-top: 30px;
}

div.goods_cartprice_div {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: flex-end;
}
span.goods_cartprice_div_title {
  padding-right: 12px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  line-height: 20px;
}

span.goods_cartprice_div_price {
  font-weight: bold;
  font-size: 32px;
  color: #333;
  line-height: 36px;
}

span.goods_cartprice_div_text {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  line-height: 30px;
}

div.description {
  position: relative;
  padding-bottom: 100px;
  padding-top: 40px;
  width: 1000px;
  margin: 0 auto;
  font-family: 'Noto Sans';
  font-weight: 300;
  letter-spacing: 0;
}

