div.cart_goodslist_order {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 14px;
}

div.ordertime_group_div {
  display: flex;
  padding: 8px 0px 13px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgb(221, 223, 225);
}

span.ordertime_detail {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.31;
  color: rgb(51, 51, 51);
}

a.ordertime_detail_menu {
  align-self: center;
  padding-right: 10px;
  line-height: 1.33;
  font-size: 12px;
  color: rgb(51, 51, 51);
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBzdHJva2U9IiMzMzMiPgogICAgICAgICAgPHBhdGggZD0iTTAgMEw0IDQgMCA4IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTIxNS4wMDAwMDAsIC02OTkuMDAwMDAwKSB0cmFuc2xhdGUoMTk1LjAwMDAwMCwgNTczLjAwMDAwMCkgdHJhbnNsYXRlKDIzMC4wMDAwMDAsIDk2LjAwMDAwMCkgdHJhbnNsYXRlKDIwLjAwMDAwMCwgMTYuMDAwMDAwKSB0cmFuc2xhdGUoNjMwLjAwMDAwMCwgMTAuMDAwMDAwKSB0cmFuc2xhdGUoMTQ0LjAwMDAwMCwgNS4wMDAwMDApIi8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K)
    right center / 10px 10px no-repeat;
  cursor: pointer;
}

div.orderlist_group_div {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 14px 0px 16px;
}

div.orderlist_picture_text_div {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

div.orderlist_group_div_textlist {
  display: flex;
  flex-direction: column;
}

dl.orderlist_group_div_text_dl {
  display: flex;
  padding-top: 6px;
  flex-direction: row;
  color: rgb(0, 0, 0);
  line-height: 20px;
}

dt.orderlist_group_div_text_dt {
  width: 50px;
  line-height: 1.58;
  margin-right: 10px;
  font-size: 12px;
  color: rgb(51, 51, 51);
}

dd.orderlist_group_div_text_dd {
  flex: 1 1 0%;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 1.36;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

div.orderlist_orderstatus_inqury_div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

div.orderlist_cart_inqury_div {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 40px;
    gap: 6px;
}

span.orderlist_orderstatus_span {
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: rgb(51, 51, 51);
  margin-right: 20px;
}

div.orderlist_inqury_div {
  width: 96px;
}

button.orderlist_inqury_buttons {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 36px;
  border-radius: 3px;
  color: black;
  background-color: rgb(255, 255, 255);
}

button.cart_input_button{
	color: rgb(255, 255, 255);
    background-color: orange;
    border: 0px none;
}

button.cart_review_button{
	color: orange;
    background-color: white;
    border: 1px solid orange;
}

span.orderlist_inqury_span {
  font-size: 12px;
  font-weight: 500;
}

div.main_under_div_right_line_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 2px solid rgb(51, 51, 51);
}
