<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shopping">
	<!-- 상품관련 -->
	<select id="productCount" resultType="int">
		SELECT count(*) FROM
		product
	</select>

	<select id="selectOneProduct" parameterType="int"
		resultType="shopping.dto.ProductDTO">
		SELECT * FROM product WHERE pr_key=#{pr_key}
	</select>


	<select id="productNewList" parameterType="shopping.dto.PageDTO"
		resultType="shopping.dto.ProductDTO">
		<![CDATA[ 
		SELECT b.*
			FROM(SELECT rownum AS rm, a.*
                FROM(SELECT * FROM product 
                ORDER BY pr_reg_date desc)a
                )b
		WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		]]>
	</select>

	<select id="productSaleList"
		parameterType="shopping.dto.PageDTO"
		resultType="shopping.dto.ProductDTO">
		<![CDATA[ 
		SELECT b.*
			FROM(SELECT rownum AS rm, a.*
                FROM(SELECT * FROM product 
                ORDER BY pr_dcper desc)a
                )b
		WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		]]>
	</select>

	<select id="productthemeList_drama"
		parameterType="shopping.dto.PageDTO"
		resultType="shopping.dto.ProductDTO">
		<![CDATA[ 
		SELECT b.*
			FROM(SELECT rownum AS rm, a.*
                FROM(SELECT * FROM product 
                WHERE pr_theme='드라마정주행')a
                )b
		WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		]]>
	</select>

	<select id="productthemeList_organic"
		parameterType="shopping.dto.PageDTO"
		resultType="shopping.dto.ProductDTO">
		<![CDATA[ 
		SELECT b.*
			FROM(SELECT rownum AS rm, a.*
                FROM(SELECT * FROM product 
                WHERE pr_theme='올가닉제품')a
                )b
		WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		]]>
	</select>

	<!-- 카테고리페이지 -->

	<select id="ctgProductCount" parameterType="String"
		resultType="int">
		<![CDATA[
			select count(*) as count
			from ( select *
				from product 
				where cate_key=#{category}
			)
		]]>
	</select>

	<select id="ctgProductList" parameterType="shopping.dto.PageDTO"
		resultType="shopping.dto.ProductDTO">
		<![CDATA[ 
		SELECT b.*
			FROM(SELECT rownum AS rm, a.*
                FROM(SELECT * FROM product 
                WHERE cate_key=#{category})a
                )b
		WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		]]>
	</select>

	<select id="searchList" parameterType="shopping.dto.PageDTO"
		resultType="shopping.dto.ProductDTO">
		<![CDATA[ 
		SELECT b.*
			FROM(SELECT rownum AS rm, a.*
                FROM(SELECT * FROM product WHERE REPLACE(pr_name,' ','') LIKE '%' ||  REPLACE(#{searchWord},' ','') || '%') a
                )b
		
		]]>
	</select>



	<!-- best 데이터베이스 -->
	<select id="BestImages" resultType="shopping.dto.ProductDTO">
		<![CDATA[
	SELECT t.PR_THUMBNAIL, p.PR_NAME, p.PR_PRICE, p.PR_DCPRICE, p.PR_DCper, p.pr_key
	FROM product t
	JOIN (
	    SELECT PR_KEY, PR_NAME, PR_PRICE, PR_DCPRICE, PR_DCper
	    FROM product
	) p ON t.PR_KEY = p.PR_KEY
	JOIN (
	    SELECT PR_KEY, SUM(OR_pr_count) AS SUM_NUM
	    FROM or_detail
	    GROUP BY PR_KEY
	    ORDER BY SUM_NUM DESC
	) o ON p.PR_KEY = o.PR_KEY
	WHERE ROWNUM <= 16
		]]>
		</select>
		

		<!-- chuchun -->
		<select id="chuchunButton" resultType="shopping.dto.ProductDTO">
	<![CDATA[
	SELECT 
	  PR_KEY, 
	  PR_NAME, 
	  PR_THUMBNAIL, 
	  PR_PRICE, 
	  PR_DCPRICE, 
	  PR_DCPER
	FROM 
	(
	  SELECT 
	    PR_KEY, 
	    PR_NAME, 
	    PR_THUMBNAIL, 
	    PR_PRICE, 
	    PR_DCPRICE, 
	    PR_DCPER, 
	    ROW_NUMBER() OVER (ORDER BY dbms_random.value) rn
	  FROM product
	)
	WHERE rn <= 12
		]]>
		</select>

	


</mapper>